@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.limite1-lign,
.limite2-lign,
.limite3-lign,
.limite4-lign,
.limite5-lign,
.limite6-lign,
.limite7-lign,
.limite8-lign,
.limite9-lign,
.limite10-lign,
.v-select span.vs__selected {
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow-x: hidden;
}

.limite1-lign {
  -webkit-line-clamp: 1;
}

.limite2-lign {
  -webkit-line-clamp: 2;
}

.limite3-lign {
  -webkit-line-clamp: 3;
}

.limite4-lign {
  -webkit-line-clamp: 4;
}

.limite5-lign {
  -webkit-line-clamp: 5;
}

.limite6-lign {
  -webkit-line-clamp: 6;
}

.limite7-lign {
  -webkit-line-clamp: 7;
}

.limite8-lign {
  -webkit-line-clamp: 8;
}

.limite9-lign {
  -webkit-line-clamp: 9;
}

.limite10-lign {
  -webkit-line-clamp: 10;
}
.item-nft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie--isloading .loading-image {
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-size: 250px;
  -webkit-animation: shine-loading-image 2s infinite ease-out;
  animation: shine-loading-image 2s infinite ease-out;
}

.movie--isloading .loading-content {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.movie--isloading .loading-content .loading-text-container {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.movie--isloading .loading-content .loading-main-text {
  height: 10px;
  width: 65%;
  margin-bottom: 10px;
  background: #ececec;
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-size: 250px;
  border-radius: 10px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.movie--isloading .loading-content .loading-sub-text {
  height: 10px;
  width: 50%;
  background: #ececec;
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-size: 250px;
  border-radius: 10px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.movie--isloading .loading-content .loading-btn {
  width: 60px;
  height: 25px;
  background: #ececec;
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-size: 250px;
  border-radius: 3px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}
a.lien-img.loading-image {
  height: 236.8px;
}
.loading-content {
  height: 85px;
}
@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}
a.lien-img {
  border-bottom: 1px #e9e9e9b5 solid;
  display: block;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
header nav {
  border-bottom: 1px #f1f1f1 solid;
}
.bg-primary-700 {
  background-color: #2081e2;
}
.item-nps {
  background-color: #fff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 15px;
  transition: all 0.8s;
  overflow: hidden;
}
.item-nps a {
  position: relative;
  overflow: hidden;
}
.item-nps:hover img {
  transform: scale(1.1);
  transition: all 0.8s;
}
.item-nps img {
  min-height: 236.8px;
  height: 236.8px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.block-details {
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
header {
  z-index: 10;
}
.bouton-buy {
  opacity: 0;
  z-index: -1;
}
.item-nps:hover .bouton-buy {
  opacity: 1;
  z-index: 0;
  animation: down alternate 0.5s;
}
.bouton-buy img {
  width: 25px;
  height: 25px;
  min-height: 25px !important;
}
.bouton-buy.left-btn {
  border-right: 1px #fff solid;
}
.bouton-buy:hover {
  background-color: #1b6fc4 !important;
}
.flex {
  display: flex;
}
@keyframes down {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0px);
  }
}
